name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: stable

      - name: Flutter doctor
        run: flutter doctor

      - name: Create Android platform (FIXED)
        run: flutter create --platforms android --project-name laporan_toko_app .

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: laporan-toko-apk
          path: build/app/outputs/flutter-apk/app-release.apk
